b{
    color: coral;
}
.title-color{
    color: blueviolet;
}
.icon-svg i {
    margin: 0 10px;
    width: 30px;
}
.sizeing{
    border: 1px solid red;
    padding: 20px 10px;
    border-radius: 5px;
}
.img-dark{
    filter: brightness(50%);
}
.google-map{
    display: flex;
    align-self: center;
    justify-content: center;
}